.video {
    width: 100%;
    height: 70%;
}
.article {
width: 100%;
height: 70%;
}

.read-more-btn {
    height: 25px;
    padding: 12px 24px;
    background-color: #000; /* Black to match your theme */
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s;
}

.read-more-btn:hover {
    background-color: #333; /* Slightly lighter on hover */
}