.video {
    width: 100%;
    height: 70%;
}
.article {
width: 100%;
height: 70%;
}

.input_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 13px;
}
.input_content > * {
    width: 90%;
}
.input_content > textarea {
    height: 45%;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 15px;
}
.input_content > input {
    border: 1px solid rgb(173, 173, 173);
    border-radius: 15px;
    padding: 10px;
}

.expand:hover {
    cursor: pointer;
}