@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}

.navigations {
    list-style: none;
}

.profile_holder {
    width: 37px;
    height: 37px;
}

.profile {
    width: 37px;
    height: 37px;
    border-radius: 100%;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    
    background-color:  #F0F0F0;
    padding: 16px 50px;
    box-shadow: 2px 0px 15px rgb(165, 164, 164);
    align-items: center;
}

.navigations {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
main {
    position: relative;
}

#sidepanel {
    position: fixed;
    width: 132px;
    height: 70vh;
    border-radius: 0px 20px 20px 20px;
    box-shadow: 1px 1px 7px rgb(165, 164, 164);
    transition: all 150ms ease-in-out 15ms;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: #FDFDFD;
}

.panelhead{
    color: white;
    background-color: black;
    padding: 5px 13px;
    font-size: 16px;
    min-height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 20px 0px 0px;
}
.panelhead > img {
    width: 37px;
}

#arrow {
    transition: all 300ms ease-in-out 20ms;
    margin-left: -132px;
}
#arrow:hover {
    cursor: pointer;
}

#badge{
    color: #0029FF;
    padding: 10px;
    border: 1px solid #0029FF;
    border-radius: 10px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
    transition: all 300ms ease-in-out 0ms;
}
#badge:hover{
    color: #133aff;
    border: 2px solid #133aff;
}

#panel {
    list-style-type: disc !important;
    list-style-position: inside;
    padding: 5px 40px;
    height: 90%;
    display: flex;
    flex-direction: column;
    visibility: hidden;
   
}
#panelhead {
    visibility: hidden;
}


#tasktitle {
    font-weight: bold;
    margin-bottom: 15%;
    margin-top: 15%;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.projectheader {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
#project_title{
    color: #0029FF;
    font-size: 28px;
    font-weight: 700;
}
#submit {
    width: 121px;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #F0F0F0;
    background-color: #0029FF;
    border: none;
    transition: all 300ms ease-in-out 10ms;
}
#submit:hover{
    transform: scale(0.9);
}

.projectdescription {
    width: 67%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #E9ECEF;
    border-radius: 6px;
}
#desc_title{
    font-size: 20px;
    font-weight: 700;
}

.assets {
    width: 70%;
    display: flex;
    justify-content: center;
}

.asset_container {
    width: 95%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 580px;
    grid-gap: 30px;
    row-gap: 50px;
}

.asset {
    max-width: 480px;
    height: 580px;
    border-radius: 15px;
    background-color: #FDFDFD;
    box-shadow: 1px 1px 7px rgb(165, 164, 164);
}
.asset_title {
    color: white;
    background-color: black;
    padding: 5px 13px;
    font-size: 16px;
    min-height: 50px;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0px 0px;   
}
.asset_title img:hover {
    cursor: pointer;
}

.asset_description {
    padding: 15px 23px;
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
}
.desc_content {
    font-size: 16px;
    width: 80%;
}
.asset_content {
    height: 90%;
    display: flex;
    justify-content: center;
}

.notice_board {
    position: fixed;
    right: 0;
    top: 100px;
    width: 70px;
    box-shadow: 1px 1px 7px rgb(165, 164, 164);
    border-radius: 20px 0px 0px 20px;
}
.notice_board > p {
    width: 5%;
    font-size: 13px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FDFDFD;
    background-color: #000000;
    padding: 20px;
    overflow-wrap: break-word;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
}

.notice_board img {
    position: relative;
    right: 10px;
}

.other {
    position: fixed;
    bottom: 10px;
    right: 50px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.other img {
    background-color: #0029FF;
    padding: 15px;
    border-radius: 50px;
}